# Binaries
bin/
*.exe
*.dll

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
*.egg-info/

# Go
*.out
*.test
cover.out

# Logs
*.log

# Node / Frontend (future-proof)
node_modules/
dist/

# Mac/IDE
.DS_Store
.vscode/
.idea/

# Docker
docker-compose.override.yml